.custom-modal .modal-dialog {
  max-width: 1050px;
  padding: 20px;
}

.custom-modal .modal-content {
  background-color: #f5f5f5;
  padding: 20px;
}

.plan-button:hover {
  color: #3d9be9;
}

.custom-modal-header {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
.custom-underline {
  text-decoration-color: #3d9be9;
  text-decoration-thickness: 2px;
  /* padding-top: 10px; */
}
.custom-modal-footer {
  border-top: none !important;
}
.plan-pricing {
  height: 100%;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 13px;
}
